<%= form_for(@microcommand) do |f| %>
  <% if @microcommand.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@microcommand.errors.count, "error") %> prohibited this microcommand from being saved:</h2>

      <ul>
      <% @microcommand.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :command_txt %><br>
    <%= f.text_field :command_txt %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
