<h1>Listing microcommands</h1>

<table>
  <thead>
    <tr>
      <th>Command txt</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @microcommands.each do |microcommand| %>
      <tr>
        <td><%= microcommand.command_txt %></td>
        <td><%= microcommand.user_id %></td>
        <td><%= link_to 'Show', microcommand %></td>
        <td><%= link_to 'Edit', edit_microcommand_path(microcommand) %></td>
        <td><%= link_to 'Destroy', microcommand, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Microcommand', new_microcommand_path %>
